<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magang.lazyEgg.dao.SysFileMapper">
    <resultMap id="BaseResultMap" type="com.magang.lazyEgg.pojo.SysFile">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="BIGINT"/>
        <result column="filePath" property="filepath" jdbcType="VARCHAR"/>
        <result column="userId" property="userid" jdbcType="VARCHAR"/>
        <result column="createTime" property="createtime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, size, filePath, userId, createTime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_file
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.magang.lazyEgg.pojo.SysFile">
    insert into sys_file (id, title, size, 
      filePath, userId, createTime
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, 
      #{filepath,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.magang.lazyEgg.pojo.SysFile">
        insert into sys_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="filepath != null">
                filePath,
            </if>
            <if test="userid != null">
                userId,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=BIGINT},
            </if>
            <if test="filepath != null">
                #{filepath,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.magang.lazyEgg.pojo.SysFile">
        update sys_file
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=BIGINT},
            </if>
            <if test="filepath != null">
                filePath = #{filepath,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userId = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magang.lazyEgg.pojo.SysFile">
    update sys_file
    set title = #{title,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      filePath = #{filepath,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>